/* General
   ========================================================================== */
h1,
h2 {
  font-family: 'Roboto', sans-serif;
  color: #4484CE;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5em;
  line-height: 1.5;
  color: #4484CE;
}

a {
  font-size: 1.2em;
  color: #4454CE;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

/* Header
   ========================================================================== */

header {
  background-color: #D9D9D9;
  text-align: center;
  width: 90%;
  padding: 5%;
}

/* Nav-Bar
   ========================================================================== */

.nav {
  display: flex;
  flex-direction: column;
}

.button{
  background-color: #F9EF00;
  margin: 3px;
  display: flex;
}

.button a {
  padding: inherit;
  flex-grow: 1;
  padding: 20px 0;
  color: #4484CE;
}

/* Profile
   ========================================================================== */

.profile {
  padding: 60px 0 0 0;
  display: flex;
  flex-direction: column;
}

.portrait {
  width: 60%;
  margin: 0 20%;
  background-color: #F19F4D;
}
.profile-image {
  margin: 40px;
  border-radius: 50%;
  width: 40%;
  transition: all 1s;
}

.profile-image:hover {
  transform: rotate(360deg);
}


/* Body
   ========================================================================== */

.wrapper {
  text-align: center;
  width: 90%;
  padding: 5%;
}

.miniature {
  width: 90%;
  margin: 25px 0;
}

/* Footer
   ========================================================================== */
footer {
  background-color: #D9D9D9;
  text-align: center;
  width: 90%;
  padding: 5%;
}

.contact {
  padding: 40px 0 0 0;
  border-bottom:  solid #E8E8E8;
}

.footer-links {
  padding: 40px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.footer-links :nth-child(n+3) {
  display: none;
}



